[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=WindowTitle
Comment=Window Title Plugin
Icon=xfce4-display
X-XFCE-Internal=true
X-XFCE-Module=wintitle
X-XFCE-API=2.0
